@import "tailwindcss";

@layer utilities {
  .text-outline-black {
    -webkit-text-stroke: black 1px;
  }
}


@keyframes pulseSlow {
  0%, 100% { 
    opacity: 1; 
    border-color: rgba(239, 68, 68, 0.3); 
    box-shadow: 0 10px 15px -3px rgba(127, 29, 29, 0.1);
  }
  50% { 
    opacity: 0.85; 
    border-color: rgba(239, 68, 68, 0.7); 
    box-shadow: 0 10px 25px -5px rgba(239, 68, 68, 0.25);
  }
}

.animate-pulse-slow {
  animation: pulseSlow 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.spatial-bg {
  background-color: #0f172a; 
  

  background-image: 
    radial-gradient(circle at 50% 50%, rgba(15, 23, 42, 0.2) 0%, #0f172a 90%),
    radial-gradient(rgba(45, 212, 191, 0.85) 1px, transparent 1.8px);
  
  background-size: 100% 100%, 30px 30px;
}

.animate-pulse-slow {
  animation: pulseSlow 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}